body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#video-feed {
    transform: rotate(90deg);
    /* transform-origin: left top; */
    width: 98vh;
    height: 153vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 132px -134px;
}

#joystick-container {
    position: absolute;
    bottom: 98px;
    right: 204px;
    width: 10px;
    height: 10px;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-group {
    margin-bottom: -15px; /* Adjust as needed to change the spacing between sliders */
}

.sliders {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}
